<html>
  <script>
    function loading() {
      document.getElementById("config_form").style.display = "none";
      document.getElementById("lighting").style.display = "inline";
    }
  </script>
  <form action="/set_state" method="POST" id="config_form">
    <div>
      <label for="run_as_date">Run as date</label>
      <input type="date" id="run_as_date" name="run_as_date" value="{{today}}">
    </div>
    <div>
      <label for="run_length">Run length</label>
      <input type="number" id="run_length" name="run_length" min="1" max="24" value="1">
    </div>
    <div>
      <label for="palette">Color palette</label>
      <select id="palette" name="palette" required>
        <option value="None">Random palette / auto-select</option>
        <option value="christmas">Christmas</option>
        <option value="israel">Israel</option>
        <option value="patriotic">Patriotic</option>
        <option value="rainbow">Rainbow</option>
        <option value="ukraine">Ukraine</option>
        <option value="v_day">V-day</option>
      </select>
    </div>
    <div>
      <label for="pattern">Light pattern</label>
      <select id="pattern" name="pattern" required>
        <option value="None">Random pattern</option>
        <option value="color_chase">Color chase</option>
        <option value="fan_out">Fan out</option>
        <option value="random">Randomized lights</option>
        <option value="snake">Snake</option>
      </select>
    </div>
    <button type="submit" name="light" onclick="loading()">Light</button>
    <button type="submit" name="extinguish">Extinguish</button>
  </form>
  <div id="lighting" style="display:none">
    Lighting the menorah...
  </div>
</html>
